@{
    ViewBag.Title = "Главнаяя";
}

@model List<Photographer.Contract.Models.GalleryItem>


@foreach (var item in Model)
{
    <a class="fancybox" rel="gallery1" href="/Content/gallery/home/@item.BigFileName" title="">
        <img src="/Content/gallery/home/@item.SmallFileName" alt="" />
    </a>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/fancyboxJs")

<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox({
            openEffect: 'elastic',
            closeEffect: 'elastic',
            title: null
        });
    });
</script>